
target

.idea

*.iml

.DS_Store
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

*.log
logs
ops/dev/tmp

.history
dist-ssr
*.local
yarn*
ts-out-dir
pnpm*

pnpm-lock.yaml
.pnpm-debug.log

admin_bak